nav
    .nav-wrapper
        a.brand-logo.center(href="/") Voting App
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.material-icons menu
        ul.right.hide-on-med-and-down
              li
                a(href="/") Home
              li
                a(href="/new") New
              li
                a(href="/profile/" + profile) Profile
              li
                a(href="/signup") Sign up
              li
                a(href="/login") Login
        ul#mobile-demo.side-nav
              li
                a(href="/") Home
              li
                a(href="/new") New
              li
                a(href="/login") Sign up