nav
    .nav-wrapper
        a.brand-logo.center(href="#") Voting App
        ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href="#") Home
              li
                a(href="/new") New
              li
                a(href="/login") Sign up