doctype
html(ng-app="myApp")
    include ./includes/head.pug
    body
        include ./includes/navbar.pug
        .container.center-align
            h2 New Poll
            .row
                form.col.s12(action="/new" method="post")
                    .row
                        .input-field.col.s12
                            input#poll_name(type="text" placeholder="Best Website" name="name")
                            label(for="poll_name") Name your Poll
                    #options
                        .row
                            .input-field.col.s4
                                input#options(type="text" placeholder="Voting App" name="options")
                                label(for="options") Create Options
                            a#add.btn-floating.btn-large.waves-effect.waves-light.red
                                    i.material-icons add
                        .row
                            .input-field.col.s4
                                input#options(type="text" placeholder="Voting App" name="options")
                                label(for="options") Create Options
                    .row
                        button.btn.waves-effect.waves-light.col.s2(type="submit" name="action") Submit
                            i.material-icons.right send
                
        include ./includes/scripts.pug
                