doctype
html(ng-app="myApp")
    include ./includes/head.pug
    script(src="https://www.gstatic.com/charts/loader.js")
    include ./includes/scripts.pug
    script(src="../../controllers/showPoll.js")
    
    body
        include ./includes/navbar.pug
        .container.center-align
            h1 Poll
            #chart_div
            .input-field
                .row
                    label Voting Options: 
                        select#options.browser-default
                            option(diabled selected) Choose your Vote
                        button#bVote.btn.waves-effect.waves-light(type="submit" name="action") Vote
                        
        
        