doctype
html(ng-app="myApp")
    include ./includes/head.pug
    script(src="https://www.gstatic.com/charts/loader.js")
    include ./includes/scripts.pug
    script(src="../../controllers/showPoll.js")
    
    body
        include ./includes/navbar.pug
        .container.center-align
            h1 Poll
            .row
                #chart_div.col.s4
                #options.col.s8
        
        